<p id="notice"><%= notice %></p>

<%= image_tag @product.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Width:</strong>
  <%= @product.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @product.height %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<%if signed_in?%>
    <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@product), removeUrl: remove_from_cart_path(@product)} do%>
      <i class="fi-shopping-cart"></i>
      <span><%=@cart_action%></span> Cart
  <% end %>
 
<%end%>
<p>
  <strong>Product type:</strong>
  <%= @product.product_type %>
</p>
<% if can? :update, @product %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<% if can? :destroy, @product %>
  <%= link_to 'Delete',  @product, method: :delete, data: { confirm: 'Y U DESTROY?!?' } %>
<%end%>
<%= link_to 'Back', products_path %>
