<p id="notice"><%= notice %></p>


<% if can? :create, @products %>
  <%= link_to 'New Product', new_product_path %>
<% end %>


<h4 class="column">Featured products</h4>
<div class="column">
  <ul class="products-grid no-bullet row small-block-grid-4">
    <% @products.each do |product| %>
      <%if product.type == "Toy" %>
      <li>
        <div class="product-card padly">
          <div class="product-info ell glassy-bg padmy padlx">
            <div class="title">
              <h6><%= link_to (image_tag product.image.url(:thumb)), product %> <span>(<%= product.name %>)</span></h6>
            </div>
            <p class="left price label product-label radius">RON <%= product.price %></p>
          </div>
        </div>
      </li>
      <%end%>
    <% end %>
  </ul>
</div>